
/* =========================
 * Base
 * =========================
 */

@import "suitcss-base";


/**
  CSS Variables and Media Queries
*/

@import "./css/_variables.css";
@import "./css/_media-queries.css";

/* start impoting components */
@import "suitcss-components-grid";
@import "suitcss-utils-size";

@import "./components/stepcard/StepCard.css";
@import "./components/productthumb/ProductThumb.css";

html {
  background-color: #f3f3f3;
}

img {
  vertical-align: middle;
}


hr {
  margin-top: var(--base-spacing-unit);
  margin-bottom: var(--base-spacing-unit);
  border: 1px solid #ccc;
}

.Title-component {
  margin-bottom: var(--base-spacing-unit);
}

.bg-white {
  background-color: #f3f3f3;
}

.bg-gray {
  background-color: #eaeaea;
}

.u-textCenter {
  text-align: center;
}
