
/* =========================
 * Base
 * =========================
 */

@import "suitcss-base";


/**
  CSS Variables and Media Queries
*/

@import "./css/_variables.css";
@import "./css/_media-queries.css";

/* start impoting components */
@import "./components/stepcard/StepCard.css";
@import "./components/productthumb/ProductThumb.css";

html {
  background-color: #f3f3f3;
}

img {
  vertical-align: middle;
}


hr {
  margin-top: var(--base-spacing-unit);
  margin-bottom: var(--base-spacing-unit);
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.Title-component {
  margin-bottom: var(--base-spacing-unit);
}
